@using Microsoft.IdentityModel.Tokens
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Employee

@{
    ViewBag.Title = "Modifier un employé";
    Layout = "_Layout";
}

@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}

<h2>Modifier un employé</h2>
<a asp-action="Index" asp-controller="Employee" class="btn btn-primary">
    Retour
</a>
<div class="w-50 container">
    <form method="post" asp-action="Update" asp-controller="Employee">
        <input type="hidden" asp-for="Id"/>
        <div class="mb-3">
            <label class="form-label" for="FirstName">@Html.DisplayNameFor(model => model.FirstName)</label>
            <input class="form-control" name="FirstName" asp-for="FirstName"/>
            <span class="text-danger" asp-validation-for="FirstName"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="LastName">@Html.DisplayNameFor(model => model.LastName)</label>
            <input class="form-control" asp-for="LastName"/>
            <span class="text-danger" asp-validation-for="LastName"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Email">@Html.DisplayNameFor(model => model.Email)</label>
            <input class="form-control" asp-for="Email"/>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="LandlinePhone">@Html.DisplayNameFor(model => model.LandlinePhone)</label>
            <input class="form-control" asp-for="LandlinePhone"/>
            <span class="text-danger" asp-validation-for="LandlinePhone"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="MobilePhone">@Html.DisplayNameFor(model => model.MobilePhone)</label>
            <input class="form-control" asp-for="MobilePhone"/>
            <span class="text-danger" asp-validation-for="MobilePhone"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="ServiceId">@Html.DisplayNameFor(model => model.Service)</label>
            <select class="form-control" asp-for="ServiceId">
                @foreach (Service service in ViewBag.Services)
                {
                    <option value="@service.Id">@service.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="ServiceId"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="SiteId">@Html.DisplayNameFor(model => model.Site)</label>
            <select class="form-control" asp-for="SiteId">
                @foreach (Site site in ViewBag.Sites)
                {
                    <option value="@site.Id">@site.City</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="SiteId"></span>
        </div>
        @if (Model.Password.IsNullOrEmpty())
        {
            <div class="mb-3">
                <label class="form-label" for="Password">L'employé n'a pas de mot de passe.<br/>@Html.DisplayNameFor(model => model.Password)</label>
                <input class="form-control" asp-for="Password"/>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        }
        <div class="form-check mb-3">
            <input class="form-check-input" asp-for="IsAdmin" disabled="@(Model.Id.ToString() == User.FindFirstValue(ClaimTypes.NameIdentifier))"/>
            <label class="form-check-label" for="IsAdmin">
                @Html.DisplayNameFor(model => model.IsAdmin)
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
</div>